﻿
/* Icon section */

.icon-size-h25{
  height: 25px;
}
.icon-size-h2{
  height: 24px;
}
.icon-size-f18{
  font-size: 18px;
}
.icon-size-f20{
  font-size: 20px;
}
.icon-size-f21{
  font-size: 21px;
}
.icon-size-f22{
  font-size: 22px;
}
.icon-size-f24{
  font-size: 24px;
  vertical-align: middle;
}
.icon-size-f25{
  font-size: 25px;
}
.icon-pad-l18{
  padding-left: 18px;
}
.icon-pad-l2{
  padding-left: 24px;
}
.icon-pad-l3{
  padding-left: 27px;
}
.icon-pad-l4{
  padding-left: 26px;
}
.icon-mar-l{
  margin-left: 4px;
}


/* Form section */
.form-control-search{
  height: 34px;
  width: 95%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  line-height: 1.42857143;
  background-color: #fff;
  background-image: none;
  border:1px solid #ccc;
  border-color: #d2d6de;
  box-shadow: none;
  border-radius: 5px;
  margin-left: 10px;
}

/* Buttons customize section */
.btn-block-customize{
  float: right;
  width: 140px;
  font: 15px;
  margin-right: 6px;
}

/* box-body-size */
.box-body-size{
  height: 711px;
}
.box-body-size.table-overflow{
  border: 1px solid #f4f4f4;
  overflow-x:auto; 
  overflow-y:auto;
}


/* Modal center */
/*
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-footer{
  text-align: left;
}*/

/* form group */
.form-group-padding{
  padding-left: 0px;
}
